extends layout

block content
  h1= title
    - let items = results
    div(class="container-fluid")
    div(class="row m-1")
     each item in items
      - let destination = `dispatch(\"/dog/update?id=${item._id}\")`
      div(class="row-sm-2", class="m-1") Dog name is #{item.dog_name} dog year and (#{item.dog_year}) month #{item.dog_birth}
       button.btn( class="btn-primary ml-1", onclick= destination) Update


    script.
     function dispatch(path){
      window.location.href=path}