extends layout

block content
  h1= title
    - let items = results
    div(class="container-fluid mt-3")
    div(class="row")
        each dog,index in items
              div(class="col-sm-3 bg-info m-2 p-4" onclick=`buy(${index})`) #{dog.dog_name} - #{dog.dog_year } - #{dog.dog_birth}


    script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }