extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance for delete 
  else 
    - let dogid = toShow._id 
    - let dog_name= toShow.dog_name
    - let dog_year = toShow.dog_year 
    - let dog_birth = toShow.dog_birth 
    - let actionid = "/resource/dogs/" + dogid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='dogAttr mr-3') dog ID is: 
        div #{dogid} 
      div.row 
        div(class='dogAttr mr-3') dog name is: 
        div #{dog_name} 
      div.row 
        div(class='dogAttr mr-3') dog year is: 
        div #{dog_year} 
      div.row 
        div(class='dogAttr mr-3') dog birth is: 
        div #{dog_birth} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the dog collection 
      window.location.href='/dog' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      //Dont need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/dog' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }